/* Style de la page */
* {
	font-family: "Verdana", "Arial", "Arial Black", Arial, Verdana, sans-serif;
	color: black;
	text-decoration: none;
}

body {
	background-image: linear-gradient(0deg, rgba(103,103,103,1) 0%, rgba(138,138,138,1) 50%, rgba(103,103,103,1) 100%);
	background-attachment: fixed;
}

/* Style du haut de page */
.head-style {
	height: 75px;
	background: linear-gradient(0deg, rgba(44,44,44,1) 0%, rgba(80,78,78,1) 50%, rgba(121,91,35,1) 100%);
	border-radius: 20px;
	display: flex;
	list-style-type: none;
	justify-content: center;
}

.head-style img {
	height: 45px;
	margin-top: 15px;
}

/* Style de la partie inscription sur la page de connexion */
.subscribe {
	padding: 50px 35px 0px 35px;
	text-align: center;
}

/* Style de la partie connexion et inscription */
.connexion, 
.signup {
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	margin-bottom: 100px;
	background-color: rgba(220, 221, 222, 0.6);
	justify-content: center;
	display: flex;
	max-width: 650px;
	border-radius: 15px;
	box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
	border: 1mm solid rgba(250, 250, 250);
}

.connexion input, 
.signup input {
	font-size: 18px;
	width: 235px;
	height: 35px;
	text-align: center;
	border: 0.7mm solid rgb(130, 94, 40);
}

.content {
	padding: 5px 50px 10px 50px;
	margin: 10px;
	max-width: 250px;
	text-align: center;
}

/* Style des boutons de connexion, d'inscription et de retour */
.connexion button,
.signup button {
	color: black;
	font-size: 15px;
	width: auto;
	height: 35px;
	border-radius: 7px;
	box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
	border: 0.9mm solid rgba(121,91,35,1);
	background-color: white;
	cursor: pointer;
	margin-top: 10px;
}

.connexion button:hover,
.signup button:hover {
	box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
	background-color: grey;
	border: 0.9mm solid rgba(121,91,35,1);
	color: white;
}

.double_btn {
	display: flex;
}

.space_btn {
	margin-right: 15px;
	margin-left: 35px;
}

/* Style de trait */
.trait {
	margin: 30px;
	width: 464px;
	height: 1px;
	overflow: hidden;
	background-color: white;
	margin-left: auto;
	margin-right: auto;
}

/* Style des erreurs */
.errorlist {
	text-align: left;
	overflow: hidden;
	font-weight: bold;
	padding-top: 0px;
	padding-bottom: 0px;
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
	color: black;
	font-size: 17px
}