{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
	<title>LITReview</title>
	<link rel="stylesheet" href="{% static 'connexion/style.css' %}">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<header>
		<ul class="head-style">
			<li id="logo"><img src= "{% static 'connexion/logo.png' %}" alt="logo"></li>
		</ul>
	</header>
	<div class="white-line"></div>
	{% block content %}
	{% endblock content %}
	
	{% if user.is_authenticated %}
	{% endif %}
	<div class="white-line"></div>
</body>
</html>